@media screen and (max-width: 599px) {
  .item_pos_1 {
    display: inline-block; }
  .item_pos_2 {
    display: none; }
  .item_pos_3 {
    display: none; }
  .content {
    margin: 10px; }
  .appBar {
    margin-left: 0; }
    .appBar .appBar__menuIcon {
      display: block; } }

@media screen and (min-width: 600px) and (max-width: 959px) {
  .item_pos_1 {
    display: inline-block; }
  .item_pos_2 {
    display: inline-block; }
  .item_pos_3 {
    display: none; }
  .content {
    margin: 10px; }
  .appBar {
    margin-left: 0; }
    .appBar .appBar__menuIcon {
      display: block; } }

@media screen and (min-width: 960px) {
  .item_pos_1 {
    display: inline-block; }
  .item_pos_2 {
    display: inline-block; }
  .item_pos_3 {
    display: inline-block; }
  .content {
    margin: 10px 10px 10px 138px; }
  .appBar {
    margin-left: 128px; }
    .appBar .appBar__menuIcon {
      display: none; } }

body {
  margin: 0; }

.item {
  box-sizing: border-box;
  width: 260px;
  height: 40px;
  margin: 0px 5px;
  vertical-align: middle; }
  .item .item__detail {
    display: inline-block;
    vertical-align: middle;
    margin: 2px 0; }
  .item .item__header {
    height: 20px; }
  .item .item__possession {
    font-size: 8px; }
  .item .item__name {
    font-size: 13px; }
  .item .item__score {
    font-size: 11px; }
  .item .item__possession-button {
    margin: 2px 2px;
    width: 36px;
    height: 36px;
    box-shadow: none; }
  .item .item__possession-button-icon {
    vertical-align: middle; }

/** Navi bar */
.naviBar {
  text-align: center; }
  .naviBar .naviBar__title {
    font-size: 16px; }
  .naviBar .naviBar__version {
    font-size: 11px; }
  .naviBar .naviBar__menu {
    font-size: 14px; }

/** Simulator */
.loading {
  display: block;
  margin: 10px auto; }

.frame {
  display: flex;
  box-sizing: border-box;
  max-width: 932px;
  justify-content: left; }

/** Wardrobe */
.itemCategories {
  flex-direction: row;
  align-content: flex-start; }

.itemCategory {
  width: 113px;
  margin-left: 0px;
  margin-right: 0px; }
  .itemCategory > span:first-child {
    width: 28px; }

/** Save / Load */
.content_type_save__button {
  margin: 10px; }

.content_type_load__button {
  margin: 10px; }

/** emoticons */
.content_type_emoticon__button {
  text-transform: 'none'; }
