body {
  margin: 0;
}
@media screen and (max-width: 599px) {
  .item1 {display: inline-block;}
  .item2 {display: none;}
  .item3 {display: none;}
  #appBar { margin-left: 0; }
  .content { margin-left: 0; }
  #menuIcon { display: block; }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .item1 {display: inline-block;}
  .item2 {display: inline-block;}
  .item3 {display: none;}
  #appBar { margin-left: 0; }
  .content { margin-left: 0; }
  #menuIcon { display: block; }
}
@media screen and (min-width:960px) {
  .item1 {display: inline-block;}
  .item2 {display: inline-block;}
  .item3 {display: inline-block;}
  #appBar { margin-left: 128px; }
  div.content { margin-left: 138px; }
  #menuIcon { display: none; }
}

.content {
  margin: 10px;
}

/** Navi bar */
#naviBar {
  text-align: center;
}
#naviBar .title {
  font-size: 16px;
}
#naviBar .version {
  font-size: 11px;
}
#naviBar .menu {
  font-size: 14px;
}

/** Simulator */
#simulator .loading {
  display: block;
  margin: 10px auto;
}
.frame {
  display: flex;
  box-sizing: border-box;
  max-width: 932px;
  justify-content: center;
}
.item {
  box-sizing: border-box;
  width: 260px;
  height: 40px;
  margin: 0px 5px;
  vertical-align: middle;
}
/* material-ui checkbox is 48x48. */
.item span:first-child {
  height: 40px;
  width: 40px;
}

.item .detail {
  width: 190px;
  display: inline-block;
  vertical-align: middle;
  margin: 2px 0;
}
.item .name {
  font-size: 13px;
}
.item .score {
  font-size: 11px;
}
.item .checkbox {
  display: inline-block;
  vertical-align: top;
}

/** Wardrobe */
div.itemCategories {
  flex-direction: row;
  align-content: flex-start;
}
label.itemCategory {
  width: 113px;
  margin-left: 0px;
  margin-right: 0px;
}
label.itemCategory > span:first-child {
  width: 28px;
}
.wardrobe-item-list {
  box-sizing: border-box;
  height: 48px;
}
