body {
  margin: 0;
}
@media screen and (max-width: 599px) {
  .item1 {display: inline-block;}
  .item2 {display: none;}
  .item3 {display: none;}
}
@media screen and (min-width: 620px) and (max-width: 899px) {
  .item1 {display: inline-block;}
  .item2 {display: inline-block;}
  .item3 {display: none;}
}
@media screen and (min-width:900px) {
  .item1 {display: inline-block;}
  .item2 {display: inline-block;}
  .item3 {display: inline-block;}
}

.frame {
  height: 50px;
  max-width: 1000px;
}
.nav {
  width: 40px;
  min-width: 40px;
}
.item {
  width: 260px;
  height: 36px;
  margin: 5px;
  padding: 5px;
}
.item .impossession {
  background-color: gray;
}

.item .name {
  font-size: 14px;
}
.item .score {
  font-size: 12px;
}
