body {
  margin: 0;
}
@media screen and (max-width: 659px) {
  .item1 {display: inline-block;}
  .item2 {display: none;}
  .item3 {display: none;}
}
@media screen and (min-width: 660px) and (max-width: 929px) {
  .item1 {display: inline-block;}
  .item2 {display: inline-block;}
  .item3 {display: none;}
}
@media screen and (min-width:930px) {
  .item1 {display: inline-block;}
  .item2 {display: inline-block;}
  .item3 {display: inline-block;}
}

/** Simulator */
#stageList {
  margin: 10px;
}

#simulator {
  margin: 10px;
}

.frame {
  display: flex;
  box-sizing: border-box;
  max-width: 932px;
  justify-content: center;
}
.item {
  box-sizing: border-box;
  width: 260px;
  height: 40px;
  margin: 0px 5px;
  display: table-cell;
  vertical-align: middle;
}
/* material-ui checkbox is 48x48. */
.item span:first-child {
  height: 40px;
  width: 40px;
}

.item .detail {
  width: 190px;
  display: inline-block;
  vertical-align: middle;
  margin: 2px 0;
}
.item .name {
  font-size: 14px;
}
.item .score {
  font-size: 11px;
}
.item .checkbox {
  display: inline-block;
  vertical-align: top;
}

/** Wardrobe */
#itemCategoryList {
  margin: 10px;
}

div.itemCategories {
  flex-direction: row;
  align-content: flex-start;
}
label.itemCategory {
  width: 113px;
  margin-left: 0px;
  margin-right: 0px;
}
label.itemCategory > span:first-child {
  width: 28px;
}

